// hero section

.wrapper__hero{
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position:  top center;
    background-repeat: no-repeat;
  }
.main {


  h1{
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-top: 181px;
    padding-left: 190px;
  }
  &__hero {
    
    position: relative;
    &-wrapper-title{
    max-width: 900px;
    width: 100%;
    background: linear-gradient(255.74deg, #2760CE -31.61%, rgba(31, 177, 186, 0.6) 74.55%);
    margin-left: -128px;
    text-align: right;
    height: 118px;
    padding-bottom: 200px;
    &-span{
      width: 320px;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.05em;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
      margin-left: 315px;
      text-align: left;
      padding-top: 31px;
    }
  }
  &-anchor {
    margin-top: 200px;
    justify-content: flex-end;
    &-link{
      border: 5px solid #FFD600;
      box-sizing: border-box;
      font-weight: bold;
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.05em;
      padding: 15px 18px 17px 25px;
      color: #FFFFFF;
      & i{
          font-size: 25px;
          font-weight: bold;
        }
      &:hover{
      background-color: #FFD600;
      text-decoration: none;
      color: #FFFFFF;
      transition: 0.5s ease;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
      }
    }
  }
  }
}

// central section

.main__central{
  background-image: url('../img/bck.png');
  background-repeat: no-repeat;

  &-h2{
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #131313;
  padding-top: 112px;
  text-align: left;
  padding-bottom: 88px;
  margin-left: 15%;
  }
}



.col-e {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.main__icon{
  height: 93px;

  &-strong{
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: #4F4F4F;
  }
}
.loader {
  margin-left: 50%;
}
.main__map{
  background-color: #FAFAFA;
  &-wrapper{
    position: relative;
    z-index: 1;
    &--item{
      &-1{
        border-radius: 50%;
        background: linear-gradient(180deg, #22949B 0%, rgba(31, 177, 186, 0) 100%), #2760CE;
        width: 11px;
        height: 11px;
        z-index: 3;
        position: absolute;
        top: 49%;
        left: 14%;
      }
      &-2{
        border-radius: 50%;
        background: linear-gradient(180deg, #22949B 0%, rgba(31, 177, 186, 0) 100%), #2760CE;
        width: 21px;
        height: 21px;
        z-index: 3;
        position: absolute;
        left: 34%;
        top: 61%;
      }
      &-3{
        border-radius: 50%;
        background: linear-gradient(180deg, #22949B 0%, rgba(31, 177, 186, 0) 100%), #2760CE;
        width: 11px;
        height: 11px;
        z-index: 3;
        position: absolute;
        top: 34%;
        left: 37%;
      }
      &-4{
        border-radius: 50%;
        background: linear-gradient(180deg, #22949B 0%, rgba(31, 177, 186, 0) 100%), #2760CE;
        width: 11px;
        height: 11px;
        z-index: 3;
        position: absolute;
        top: 46%;
        left: 45%;
      }
      &-5{
        border-radius: 50%;
        background: linear-gradient(180deg, #22949B 0%, rgba(31, 177, 186, 0) 100%), #2760CE;
        width: 11px;
        height: 11px;
        z-index: 3;
        position: absolute;
        top: 51%;
        left: 48%;
      }
      &-6{
        border-radius: 50%;
        background: linear-gradient(180deg, #22949B 0%, rgba(31, 177, 186, 0) 100%), #2760CE;
        width: 11px;
        height: 11px;
        z-index: 3;
        position: absolute;
        top: 57%;
        left: 71%;
      }
      &-7{
        border-radius: 50%;
        background: linear-gradient(180deg, #22949B 0%, rgba(31, 177, 186, 0) 100%), #2760CE;
        width: 21px;
        height: 21px;
        z-index: 3;
        position: absolute;
        top: 40%;
        left: 79%;
      }
    }
  }
}
.margin-left-claim{
  padding-bottom: 0;
}
.main__claim{
  background-color:  #E5E5E5;
  &-wrapper p{
    margin-left: 37px;
  }
  &-form {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }
}


// claim

.claim{
  background-image: url('../img/claimBck.jpg');
  background-size: cover;
  background-position:  top center;
  background-repeat: no-repeat;
}